<div class="container-fluid">

  <div class="row filter-container">

    <form action="/" method="get" class="filters">
      <div class="col-sm-3">

        <div class="language-filter">

          <select name="language" class="form-control" onChange="javascript:this.form.submit();">
            <option value="">All Languages (<%= Profile.all.count %> devs)</option>
            <% @languages.each do |language| %>
              <option value="<%= language.slug %>"<%=' selected' if language.slug == params[:language] %>>
                <%= language.name %> (<%= language.profiles.count %>)
              </option>
            <% end %>
          </select>

        </div>

      </div>

      <div class="col-sm-5">

        <div class="sort-by-filter">
        
          <select name="sort_by" class="form-control" onChange="javascript:this.form.submit();">
            <option value=""<%= ' selected' if params[:sort_by].blank? or params[:sort_by] == 'github-joined' %>>Public Activity</option>
            <option value="github-joined"<%= ' selected' if params[:sort_by] == 'github-joined' %>>Joined Github</option>
            <option value="github-followers"<%= ' selected' if params[:sort_by] == 'github-followers' %>>Github Followers</option>
            <!-- <option value="codewars-honor">Codewars Honor</option> -->
          </select>

          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-sm btn-default desc <%= 'active' if params[:sort_order].blank? or params[:sort_order] == 'desc' %>">
              <input type="radio" name="sort_order" value="desc" onChange="javascript:this.form.submit();"<%= ' checked' if params[:sort_order].blank? or params[:sort_order] == 'desc' %>> DESC
            </label>
            <label class="btn btn-sm btn-default asc <%= 'active' if params[:sort_order] == 'asc' %>">
              <input type="radio" name="sort_order" value="asc" onChange="javascript:this.form.submit();"<%= ' checked' if params[:sort_order] == 'asc' %>> ASC
            </label>
          </div>

        </div>

      </div>

    </form>

    <form action="/" method="get" class="filters">

      <div class="col-sm-4">
        <div class="search-by-username">
          <input type="text" name="username" placeholder="Search by Github username" class="form-control" value="<%= params[:username] %>" />
        </div>
      </div>

    </form>

  </div>

  <div class="row">

    <% @profiles.each do |profile| %>


      <div class="col-md-3 col-sm-4">
        <div class="profile-thumb" style="background-image: url('<%= profile.avatar_url %>');">

          <div class="profile-info">

            <div class="profile-desc <%= 'missing-company' if profile.company.blank? %>">
              
              <a href="https://github.com/<%= profile.username %>" target="_blank" class="username">@<%= profile.username %></a>
              
              <% if profile.company %>
                <span class="company"><%= profile.company %></span>
              <% end %>

              <% if profile.github_created_at.present? %>
                <span class="joined-github">joined Github <%= time_ago_in_words(profile.github_created_at) %> ago</span>
              <% end %>

            </div>

            <div class="source source-github">

              <a href="https://github.com/<%= profile.username %>" target="_blank">
                <i class="devicon-github-plain"></i>
              </a>

              <span class="public-repos">
                <strong><%= profile.public_repos %></strong>
                PUBLIC <%= 'repo'.pluralize(profile.public_repos).upcase %>
              </span>

              <span class="followers">
                <strong><%= profile.followers %></strong>
                <%= 'follower'.pluralize(profile.followers).upcase %>
              </span>

            </div>

            <% if profile.code_wars_datum.present? %>

              <div class="source source-codewars">

                <a href="http://www.codewars.com/users/<%= profile.code_wars_datum.username %>" target="_blank">
                  <img src="<%= image_path('codewars-logo.jpg') %>" alt="" style="width: 40px;" />
                </a>

                <span class="public-repos">
                  <strong><%= profile.code_wars_datum.honor %></strong>
                  HONOR
                </span>

                <span class="followers">
                  <strong><%= profile.code_wars_datum.challenges_completed %></strong>
                  <%= 'challenge'.pluralize(profile.code_wars_datum.challenges_completed).upcase %> DONE
                </span>

              </div>

            <% end %>
  
            <% if profile.latest_github_activity_at.present? %>
              <span class="latest-activity">pushed code <%= time_ago_in_words(profile.latest_github_activity_at) %> ago..</span>
            <% end %>

          </div>
          <div class="languages">
            <% profile.languages.each do |language| %>
              <a href="/?language=<%= language.slug %>">
                <i class="<%= language.icon_class %> colored"></i>
              </a>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

  </div>

  <div class="row">
    <div class="col-xs-12 profile-pagination">
      <%= will_paginate @profiles %>
    </div>
  </div>

</div>
