<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="well languages-nav">
        <% @languages.each do |language| %>
          <a href="/?language=<%= language.slug %>" class="<%= 'active' if language.slug == params[:language] %>">
            <i class="<%= language.icon_class %> colored"></i>
            <span class="count"><%= language.profiles.count %></span>
          </a>
        <% end %>
      </div>

      <p class="ordered-by">Ordered by lastest public activity on Github.</p>

    </div>
  </div>

  <div class="row">
    
    <% @profiles.each do |profile| %>
      
      <div class="col-md-3">
        <div class="profile-thumb">
          
          <div class="profile-pic">
            <img src="<%= profile.avatar_url %>" alt="" />
          </div>

          <div class="profile-info">

            <div class="profile-desc">
              <span class="username">@<%= profile.username %></span>
              <% if profile.company %>
                <span class="company"><%= profile.company %></span>
              <% end %>
            </div>
            
            <div class="source source-github">
              
              <a href="https://github.com/<%= profile.username %>" target="_blank">
                <i class="devicon-github-plain"></i>
              </a>
              
              <span class="public-repos">
                <strong><%= profile.public_repos %></strong>
                PUBLIC REPOS
              </span>

              <span class="followers">
                <strong><%= profile.followers %></strong>
                FOLLOWERS
              </span>

            </div>

            <% if profile.code_wars_datum.present? %>

              <div class="source source-codewars">
                
                <a href="http://www.codewars.com/users/<%= profile.code_wars_datum.username %>" target="_blank">
                  <img src="<%= image_path('codewars-logo.jpg') %>" alt="" style="width: 40px;" />
                </a>
                
                <span class="public-repos">
                  <strong><%= profile.code_wars_datum.honor %></strong>
                  HONOR
                </span>

                <span class="followers">
                  <strong><%= profile.code_wars_datum.challenges_completed %></strong>
                  CHALLENGES DONE
                </span>

              </div>

            <% end %>

          </div>
          <div class="languages">
            <% profile.languages.each do |language| %>
              <a href="/?language=<%= language.slug %>">
                <i class="<%= language.icon_class %> colored"></i>
              </a>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>

  </div>

  <div class="row">
    <div class="col-xs-12 profile-pagination">
      <%= will_paginate @profiles %>
    </div>
  </div>

</div>